@model List<PesquisaEstabelecimentoViewModel>
@using GISModel.DTO.Estabelecimento

<div class="space-6"></div>

@if (Model != null && Model.Count > 0)
{

    <div id="divTableResultadoPesquisa" style="margin-top: 10px;">
        @if (ViewBag.AlertaRownumAtingido != null && ViewBag.AlertaRownumAtingido)
        {
            <div style="margin-bottom: 10px">
                <div class="alert alert-warning padding-10">
                    <strong>
                        <i class="ace-icon fa fa-exclamation-triangle"></i>
                        Oops!
                    </strong>

                    @{
                        string msg = "Sua pesquisa atingiu o número máximo de ocorrências retornadas. ";
                        msg += "Refine os parâmetros de localização para um resultado mais preciso ou utilize o ícone de exportar para Excel # para ver todos os @ documentos encontrados.";

                        msg = msg.Replace("@", "<strong>" + ViewBag.TotalDocs.ToString() + "</strong>").Replace("#", "(<i class=\"ace-icon fa fa-file-excel-o bigger-110 blue\"></i>)");
                    }

                    @Html.Raw(msg)

                    <br />
                </div>
            </div>
        }

        <table id="tableResultadoPesquisa" class="table table-striped table-bordered table-hover">

            <thead>
                <tr style="background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 80%); font-size: 12px; height: 28px; min-height: 10px">
                    
                    <th class="hidden-800 hidden-480 left" width="200px" style="padding: 0px 0px 0px 5px; border-bottom: 0px">
                        Tipo
                    </th>

                    <th class="hidden-800 hidden-480 left" width="80px" style="padding: 0px 0px 0px 5px; border-bottom: 0px">
                        Codigo
                    </th>
                    
                    <th class="hidden-800 hidden-480 left" style="padding: 0px 0px 0px 5px; border-bottom: 0px">
                        Nome Completo
                    </th>

                    <th class="hidden-800 hidden-480 left" width="120px" style="padding: 0px 0px 0px 5px; border-bottom: 0px">
                        Departamento
                    </th>

                    <th class="center" width="80px" style="padding: 0px 0px 0px 8px; border-bottom: 0px">
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (PesquisaEstabelecimentoViewModel item in Model)
                    {
                        <tr>
                            <td>
                                @item.TipoDeEstabelecimento
                            </td>
                            <td>
                                @item.Codigo
                            </td>

                            <td>
                                @item.NomeCompleto
                            </td>
                            <td>
                                @item.Departamento
                            </td>
                            <td class="center">
                                <div class="hidden-sm hidden-xs action-buttons">

                                    <a href='@Url.Action("Edicao", "Estabelecimento", new { Uk = @item.UniqueKey})' class="green">
                                        <i class="ace-icon fa fa-pencil bigger-130" title="Editar"></i>
                                    </a>

                                    <a class="red" href="#" onclick="DeletarEstabelecimento('@item.UniqueKey', '@item.NomeCompleto');">
                                        <i class="ace-icon fa fa-trash-o bigger-130" title="Excluir"></i>
                                    </a>
                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">


                                            <li>
                                                <a href='@Url.Action("Edicao", "Estabelecimento", new { id = item.UniqueKey })' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                    <span class="green">
                                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                    </span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" class="tooltip-error" onclick="DeletarEstabelecimento('@item.UniqueKey', '@item.NomeCompleto');" data-rel="tooltip" title="Delete">
                                                    <span class="red">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        No momento, nenhum Estabelecimento encontrado para os filtros informados acima.
        <br>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Custom/Estabelecimento/Listagem.js"></script>
}
