@using GISModel.Entidades
@using System.Configuration
@model List<WorkArea>

<div class="space-6"></div>

@if (Model != null && Model.Count > 0)
{

    <div class="dd dd-draghandle" style="max-width:100%;" id="nestable">
        <ol class="dd-list">

            @foreach (WorkArea wa in Model)
            {

                string[] arrCores = ConfigurationManager.AppSettings["Web:PadraoCoresLista"].Split(',');

                <li class="dd-item collapseOne" data-id="@wa.UniqueKey">
                    <div class="dd2-content" style="border-left: 2px solid @arrCores[0];">

                        @wa.Nome <span> - </span> @wa.Descricao

                        <div class="pull-right action-buttons">

                            <a class="blue CustomTooltip" href="#" title="Arquivos anexados" onclick="OnClickBuscarArquivos('@wa.UniqueKey');" data-target="#modalArquivos" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                <i class="ace-icon fa fa-cloud blue bigger-125"></i>
                            </a>

                            <a class="blue CustomTooltip" href="@Url.Action("Novo", "FonteGeradoraDeRisco", new {id = @wa.UniqueKey })" title="Adicionar Fonte Geradora de Risco">
                                <i class="ace-icon fa fa-plus-circle green bigger-125"></i>
                            </a>

                            <a class="orange CustomTooltip" href="@Url.Action("Edicao", "WorkArea", new {id = @wa.UniqueKey })" title="Editar WorkArea">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>

                            <a class="red CustomTooltip" href="#" title="Excluir Workarea" onclick="deleteWorkfArea('@wa.UniqueKey.ToString()', '@wa.Nome'); return false;">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                            </a>

                            <a href="@Url.Action("ListaReconhecimentoPorWorkArea", "ReconhecimentoDoRisco", new {id = @wa.UniqueKey })" class="blue CustomTooltip" title="Listar Reconhecimento">
                                <i class="ace-icon fa fa-search red bigger-125"></i>
                            </a>

                        </div>
                    </div>

                    @if (wa.FonteGeradoraDeRisco.Count > 0)
                    {
                        <ol class="dd-list">
                            @foreach (FonteGeradoraDeRisco font in wa.FonteGeradoraDeRisco)
                            {
                                <li class="dd-item" data-id="@font.UniqueKey.ToString()">
                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[1];">

                                        <span><i style="color: orangered">Fonte Gerador de Risco - </i></span>@font.FonteGeradora

                                        <div class="pull-right action-buttons">
                                            <a class="blue CustomTooltip" href="#" title="Arquivos anexados" onclick="OnClickBuscarArquivos('@font.UniqueKey');" data-target="#modalArquivos" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                                <i class="ace-icon fa fa-cloud blue bigger-125"></i>
                                            </a>

                                            <a class="blue CustomTooltip" href="#" title="Vincular Perigo" onclick="OnClickNovoPerigo('@font.UniqueKey');" data-target="#modalAddPerigo" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                                <i class="ace-icon fa fa-plus-circle green bigger-125"></i>
                                            </a>

                                            <a href="#" class="blue CustomTooltip" title="Excluir Fonte Geradora" onclick="OnClickRemoverFonteGeradora('@font.UniqueKey', '@font.FonteGeradora')">
                                                <i class="ace-icon fa fa-trash red bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    @if (font.Perigos.Count > 0)
                                    {
                                        <ol class="dd-list">
                                            @foreach (Perigo per in font.Perigos)
                                            {
                                                <li class="dd-item" data-id="@per.UniqueKey.ToString()">
                                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[2];">
                                                        <span><i style="color: yellowgreen">Perigo - </i> </span>@per.Descricao

                                                        <div class="pull-right action-buttons">
                                                            <a class="blue CustomTooltip" href="#" title="Vincular Risco" onclick="OnClickNovoRisco('@per.UniqueKey');" data-target="#modalAddRisco" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                                                <i class="ace-icon fa fa-plus-circle green bigger-125"></i>
                                                            </a>

                                                            <a href="#" class="blue CustomTooltip" title="Desvincular Perigo" onclick="OnClickRemoverPerigo('@per.UniqueKey', '@font.UniqueKey', '@per.Descricao')">
                                                                <i class="ace-icon fa fa-trash red bigger-125"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    @if (per.Riscos.Count > 0)
                                                    {
                                                        <ol class="dd-list">
                                                            @foreach (Risco pRisc in per.Riscos)
                                                            {
                                                                <li class="dd-item" data-id="@pRisc.UniqueKey.ToString()">
                                                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[2];">
                                                                        <span><i style="color: yellowgreen">Risco - </i> </span>@pRisc.Nome


                                                                        <div class="pull-right action-buttons">
                                                                            <a href="@Url.Action("ListaReconhecimentoPorWorkArea", "ReconhecimentoDoRisco", new {id = @wa.UniqueKey })" class="blue CustomTooltip" title="Listar Reconhecimento">
                                                                                <i class="ace-icon fa fa-search red bigger-125"></i>
                                                                            </a>

                                                                        

                                                                            <a class="blue CustomTooltip" href="#" title="Arquivos anexados" onclick="OnClickBuscarArquivos('@pRisc.UniqueKey');" data-target="#modalArquivos" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                                                                <i class="ace-icon fa fa-cloud blue bigger-125"></i>
                                                                            </a>

                                                                            <a href="#" class="blue CustomTooltip" title="Desvincular Risco" onclick="OnClickRemoverRisco('@pRisc.UniqueKey', '@per.UniqueKey', '@pRisc.Nome')">
                                                                                <i class="ace-icon fa fa-trash red bigger-125"></i>
                                                                            </a>

                                                                            <a href="#" class="blue CustomTooltip" title="Cadastrar controle Risco" onclick="OnClickControleDoRisco('@wa.UniqueKey.ToString()','@font.UniqueKey.ToString()', '@per.UniqueKey.ToString()', '@pRisc.UniqueKey.ToString()');" data-target="#modalAddControle" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                                                                <i class="ace-icon fa fa-plus-circle green bigger-125"></i>
                                                                            </a>
                                                                        </div>


                                                                    </div>
                                                                </li>
                                                            }
                                                        </ol>
                                                    }

                                                </li>
                                            }
                                        </ol>
                                    }

                                </li>
                            }
                        </ol>
                    }
                </li>
            }
        </ol>
    </div>

}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        Nenhum workarea encontrado para o estabelecimento selecionado.
        <br>
    </div>
}