@model GISModel.Entidades.Estoques.Produto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem certeza que deseja EXCLUIR este item?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qunatidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qunatidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoUnit)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UsuarioInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioInclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>

        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Retornar para a Lista", "Index")
        </div>
    }
</div>
