@model GISModel.Entidades.Estoques.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qunatidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qunatidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioInclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retornar a Lista", "Index")
</p>
