@using GISModel.Entidades
@model List<Empregado>

<div class="row">
    <div class="col-sm-12 col-xs-12">


        <h3 class="header smaller lighter blue">
            Resultado Pesquisa de Empregado

            <button class="btn btn-primary btnVoltar" style="float: right; border: 0px; border-bottom: 2px; margin-top: -2px; height: 34px;">
                <i class="ace-icon fa fa-backward"></i>
                Voltar
            </button>
        </h3>
    </div>
</div>

<div class="space-10"></div>

@if (Model == null || Model.Count == 0)
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        Nenhum empregado encontrado para os filtros informados.
        <br>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12 col-xs-12">

            <table id="tableResultadoPesquisa" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr style="background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 80%); font-size: 12px; height: 28px; min-height: 10px">
                        <th width="120px" style="padding: 0px; border-bottom: 0px">
                            Documentos
                        </th>

                        <th class="center" style="padding: 0px; border-bottom: 0px">
                            Nome
                        </th>

                        <th class="center" width="120px" style="padding: 0px; border-bottom: 0px">
                            CPF
                        </th>

                        <th class="center" width="120px" style="padding: 0px; border-bottom: 0px">
                            Data Nascimento
                        </th>

                        <th class="hidden-800 hidden-480 center" width="200px" style="padding: 0px 0px 0px 5px; border-bottom: 0px">
                            E-mail
                        </th>

                        <th class="center" style="width: 250px; padding: 0px; border-bottom: 0px">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (Empregado item in Model)
                        {
                            <tr>
                                <td>
                                    <a href='@Url.Action("Index", "Ged", new { id = @item.UniqueKey})' class="btn btn-success btn-sm" title="Exibir Ged">
                                        Documentos
                                    </a>
                                </td>
                                <td>
                                    <a href='@Url.Action("Perfil", "Empregado", new { id = @item.UniqueKey})' class="green CustomTooltip" title="Exibir perfil do empregado">
                                        @item.Nome
                                    </a>
                                </td>
                                <td class="center">@item.CPF</td>
                                <td class="center">@item.DataNascimento</td>
                                <td>@item.Email</td>
                                <td class="center">@item.Status</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
}
