@model GISModel.DTO.Admissao.PesquisaEmpregadoViewModel


@{
    ViewBag.Title = "Empregado nao Admitido";
}

<div id="formPesquisaEmpregado">

    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Pesquisar Empregado por Empresa
                </h1>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("ListaEmpregadoAdmitidoPorEmpresa", "Empregado", null,
   new AjaxOptions
   {
       HttpMethod = "POST",
       OnBegin = "OnBeginPesquisaEmpregado",
       OnSuccess = "OnSuccessPesquisaEmpregado",      
   }, new { @id = "formPesquisaEmpregado", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.NomeEmpregado, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
            <div class="col-xs-12 col-sm-12">
                @Html.EditorFor(model => model.NomeEmpregado, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
            <div class="col-xs-12 col-sm-12">
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.NomeEmpresa, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
            <div class="col-xs-12 col-sm-12">
                @Html.EditorFor(model => model.NomeEmpresa, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>





</div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                <button class="btn btn-info" id="btnPesquisar" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Pesquisar
                </button>
                &nbsp;
                <button class="btn btn-warning" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpar
                </button>
            </div>
        </div>

    }



</div>

<div class="ResultadoPesquisa">
</div>
<style type="text/css">
    textarea {
        resize: none;
    }
</style>




@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Custom/Empregado/ListagemPorEmpresa.js"></script>

}
