@using GISModel.DTO.Usuario
@model VMPesquisaUsuario


@{
    ViewBag.Title = "Pesquisa de Contratos";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Usuários

            <button id="btnLocalizarUsuarios" class="btn btn-primary btnPesquisar" style="float: right; border: 0px; border-bottom: 2px; margin-top: -2px; height: 34px;">
                <i class="ace-icon fa fa-search"></i>
                Pesquisar
            </button>

            <a href="@Url.Action("Novo", "Usuario")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px; margin-right: 20px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo Usuário
            </a>

        </h3>
    </div>
</div>

@using (Ajax.BeginForm("Pesquisar", "Usuario", null,
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "OnBeginPesquisarUsuario",
                OnSuccess = "OnSuccessPesquisarUsuario"
            }, new { @id = "formCadastroUsuario", @class = "form-horizontal", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(d => d.CPF, new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })

                <div class="col-xs-12 col-sm-12">
                    @Html.EditorFor(d => d.CPF, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(d => d.Nome, new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })

                <div class="col-xs-12 col-sm-12">
                    @Html.EditorFor(d => d.Nome, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(d => d.Email, new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })

                <div class="col-xs-12 col-sm-12">
                    @Html.EditorFor(d => d.Email, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(d => d.DataCriacao, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.EditorFor(d => d.DataCriacao, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12 date-range-picker" } })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(d => d.UKDepartamento, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UKDepartamento, new SelectList(ViewBag.Departamentos, "UniqueKey", "Sigla"), "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(d => d.UKEmpresa, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UKEmpresa, new SelectList(ViewBag.Empresas, "UniqueKey", "NomeFantasia"), "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                </div>
            </div>
        </div>
    </div>

}

<div class="resultadoUsuarios"></div>

@section Stylesheets {
    <link href="~/Content/Ace/css/daterangepicker.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")
    <script src="~/Scripts/jQuery/inputmask.js"></script>
    <script src="~/Scripts/jQuery/jquery.inputmask.js"></script>
    <script src="~/Scripts/Ace/moment.js"></script>
    <script src="~/Scripts/Ace/daterangepicker.js"></script>

    <script src="~/Scripts/Custom/Usuario/Listagem.js"></script>
}