@using GISModel.Entidades
@using GISModel.DTO.Funcao
@using GISWeb.Infraestrutura.Helpers
@using System.Configuration
@model List<Atividade>




@if (Model != null && Model.Count > 0)
{

    <div class="dd dd-draghandle" style="max-width:100%;" id="nestable">
        <ol class="dd-list">
            @{
                string Atividade = string.Empty;

            }



            @foreach (Atividade dep in Model)
            {
                if (!Atividade.Contains(dep.Descricao + ";"))
                {
                    Atividade += dep.Descricao + ";";

                    string[] arrCores = ConfigurationManager.AppSettings["Web:PadraoCoresLista"].Split(',');

                    <li class="dd-item collapseOne" data-id="@dep.UniqueKey">

                        <div class="dd2-content" style="border-left: 2px solid @arrCores[0];">

                            <span><i style="color: brown">Atividade - </i> </span>@dep.Descricao

                            <div class="pull-right action-buttons">
                                <a class="blue CustomTooltip" href="@Url.Action("Novo", "DocumentosPessoal", new {nome = @dep.Descricao, Uk = dep.UniqueKey })" title="Novo Documento">
                                    <i class="ace-icon fa fa-plus-circle green bigger-125"></i>
                                </a>

                                <a class="orange CustomTooltip" href="@Url.Action("Edicao", "Atividade")?UK=@dep.UniqueKey" title="Editar Atividade">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                            </div>
                        </div>

                        @if (Model.Count > 0)
                        {
                            <ol class="dd-list">
                                @foreach (DocumentosPessoal func in dep.DocumentosPessoal)
                                {
                                    <li class="dd-item" data-id="@func.UniqueKey.ToString()">
                                        <div class="dd2-content" style="border-left: 2px solid @arrCores[1];">

                                            <span><i style="color: orangered">Documento - </i> </span>@func.NomeDocumento


                                        </div>

                                    </li>
                                    @*}*@
                                }
                            </ol>
                        }

                    </li>
                }


            }

        </ol>


    </div>

}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        No momento, nenhum cargo encontrado para esta empresa.
        <br>
    </div>
}



