
    <div class="form-horizontal">

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Tipo de Controle", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownList("ddlTipoControle", new SelectList(ViewBag.TiposDeControles, "UniqueKey", "Descricao"), "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.Label("Classificação da Medida", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownList("EClassificacaoDaMedia", ViewBag.EClassificacaoDaMedia as SelectList, "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.Label("Eficácia", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownList("EControle", ViewBag.EControle as SelectList, "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                    </div>
                </div>
            </div>
        </div>
    </div>
