@model GISModel.Entidades.Exposicao

@{
    ViewBag.Title = "Exposicao do Empregado";
}

    <div id="formCadastroExposicao">
        <div class="row">
            <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
                <div class="page-header">
                    <h1>
                        Exposição ao Risco
                    </h1>
                </div>
            </div>
        </div>
        @{
            Html.RenderPartial("_MensagensDeRetorno");
        }



        @if (ViewBag.lista != null)
        {

            <div class="alert alert-warning">
                <strong>
                    <i class="ace-icon fa fa-meh-o"></i>

                </strong>
                Já existe exposição cadastrada para este risco nesta Worarea! Você pode atualizar este cadastro fazendo um novo.
                <br>
            </div>
            <div>

                <div class="center"><h3>Última exposição cadastrada</h3></div>
                <table id="dynamic-table2" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Workarea</th>
                            <th>Fonte Geradora</th>
                            <th>Risco</th>
                            <th>Exposicao</th>
                            <th>Usuário inclusao</th>
                            <th>Data de inclusão</th>
                            <th width="60px">Medições</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var iLista in ViewBag.lista)
                        {
                            <tr>
                                <td>@iLista.Workarea</td>
                                <td>@iLista.FonteGeradora</td>
                                <td>@iLista.Risco</td>
                                <td>@iLista.EExposicaoInsalubre</td>
                                <td>@iLista.UsuarioInclusao</td>
                                <td>@iLista.DataInclusao</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a href="@Url.Action("Novo", "Medicoes", new {UkExpo = @ViewBag.ukExposi, ukwork = @ViewBag.ukWorkarea, ukrisco = @ViewBag.IDRisc })" class="blue CustomTooltip" title="Cadastrar Exposição / Controles" style="margin-left: 25px;">
                                            <i class="ace-icon fa fa-sun-o red bigger-125"></i>
                                        </a>
                                    </div>
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>

            </div>

        }
        else
        {
            <div class="alert alert-warning">
                <strong>
                    <i class="ace-icon fa fa-meh-o"></i>
                    Oops!
                </strong>

                Nenhuma exposição cadastrada para este risco nesta Worarea!.
                <br>
            </div>

            <div class="alert alert-warning">
                <strong>
                    <i class="ace-icon fa fa-meh-o"></i>

                </strong>

                Faça um cadasto abaixo!.
                <br>
            </div>
        }







    <div>

        <div class="center"><h3>Cadastrar exposição ao risco</h3></div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <tbody>
                <tr id="linha">

                    <td>
                        @using (Ajax.BeginForm("Cadastrar", "Exposicao", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginCadastrarExposicao", OnSuccess = "OnSuccessCadastrarExposicao", }, new { @id = "formCadastroExposicao", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="text" name="ukWorkarea" id="ukWorkarea" value=@ViewBag.ukworkarea hidden />
                            <input type="text" name="ukRisc" id="ukRisc" value=@ViewBag.IDRisc hidden />
                            <input type="text" name="ukEstab" id="ukEstab" value=@ViewBag.Estab hidden />

                            if (@ViewBag.classeRisco.ToString() == "Acidente")
                            {
                                @*<h3>Reconhecimento de Riscos(PPRA)</h3>*@
                                <div class="container-fluid" style="border:1px solid #cecece;">

                                </div><br />

                                <h3>Reconhecimento de Riscos(HIRA)</h3>

                                <div class="container-fluid" style="border:1px solid #cecece;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EExposicaoSeg, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EnumDropDownListFor(model => model.EExposicaoSeg, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EExposicaoSeg, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EProbabilidadeSeg, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EnumDropDownListFor(model => model.EProbabilidadeSeg, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EProbabilidadeSeg, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EGravidade, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EnumDropDownListFor(model => model.EGravidade, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EGravidade, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>


                            }

                            if (@ViewBag.classeRisco.ToString() == "Doenca_Ocupacional")
                            {

                                <h3>Reconhecimento de Riscos(PPRA)</h3>
                                <div class="container-fluid" style="border:1px solid #cecece;">
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EExposicaoInsalubre, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EnumDropDownListFor(model => model.EExposicaoInsalubre, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EExposicaoInsalubre, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EExposicaoCalor, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EnumDropDownListFor(model => model.EExposicaoCalor, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EExposicaoCalor, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                @Html.LabelFor(d => d.Observacao, new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EditorFor(d => d.Observacao, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                                                    @Html.ValidationMessageFor(d => d.Observacao, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><br />

                                <h3>Reconhecimento de Riscos(HIRA)</h3>
                                <div class="container-fluid" style="border:1px solid #cecece;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EExposicaoSeg, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EnumDropDownListFor(model => model.EExposicaoSeg, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EExposicaoSeg, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EProbabilidadeSeg, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EnumDropDownListFor(model => model.EProbabilidadeSeg, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EProbabilidadeSeg, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EGravidade, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                                                <div class="col-xs-12 col-sm-12">
                                                    @Html.EnumDropDownListFor(model => model.EGravidade, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EGravidade, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <br />

                            }




                            <br />

                            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                                <button class="btn btn-info" id="btnSalvar" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Salvar
                                </button>

                            </div>

                        }
                    </td>
                </tr>


            </tbody>
        </table>
    </div>




    </div>


@section Scripts {
    @Scripts.Render("~/bundles/ace_js_fileUpload")
    @*@Scripts.Render("~/bundles/jQ_dataTable")*@
    <script src="~/Scripts/jQuery/inputmask.js"></script>
    <script src="~/Scripts/jQuery/jquery.inputmask.js"></script>
    <script src="~/Scripts/Custom/Exposicao/Novo.js"></script>






}

@section Stylesheets {
    @Styles.Render("~/bundles/ace_css_fileUpload")
}
