
﻿@using GISModel.DTO.GerenciamentoDoRisco
@model VMNovoReconhecimentoControle


<div id="formCadastroControle">

    @using (Ajax.BeginForm("CadastrarControleDeRisco", "ReconhecimentoDoRisco", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "OnBeginCadastrarControle",
        OnSuccess = "OnSuccessCadastrarControle",
    }, new { @id = "formCadastroControle", @class = "form-horizontal", @autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" class="hidden" name="UKWorkarea" id="UKWorkarea" value="@ViewBag.UKWorkArea" />
        <input type="hidden" class="hidden" name="UKFonteGeradora" id="UKFonteGeradora" value="@ViewBag.UKFonte" />
        <input type="hidden" class="hidden" name="UKPerigo" id="UKPerigo" value="@ViewBag.UKPerigo" />
        <input type="hidden" class="hidden" name="UKRisco" id="UKRisco" value="@ViewBag.UKRisco" />

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <span><i style="color: orangered">WorkÁrea: </i> @ViewBag.WorkArea</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span><i style="color: orangered">Fonte Geradora: </i> @ViewBag.FonteGeradora</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <span><i style="color: orangered">Perigo: </i> @ViewBag.Perigo</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span><i style="color: yellowgreen">Risco Existente: </i> @ViewBag.Risco</span>
                </div>
            </div>

            <div class="space-12"></div>

            <div class="row">
                <div class="col-sm-12 col-xs-12" style="width: 100%; color: white; background-color: darkseagreen;">
                    <span>RECONHECIMENTO DO RISCO</span>
                </div>
            </div>

            <div class="space-6"></div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.Label("Classe do risco", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.DropDownListFor(d => d.EClasseDoRisco, ViewBag.Eclasse as SelectList, "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                            @Html.ValidationMessageFor(d => d.EClasseDoRisco, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.Label("Trajetoria", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.DropDownListFor(d => d.Tragetoria, ViewBag.ETrajetoria as SelectList, "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                            @Html.ValidationMessageFor(d => d.Tragetoria, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

                        </div>
                    </div>
                </div>
            </div>

            <div class="space-14"></div>

            <div class="row">
                <div class="col-sm-12 col-xs-12" style="width: 100%; color: white; background-color: darkseagreen;">
                    <span>CONTROLE DO RISCO</span>
                </div>
            </div>

            <div class="space-6"></div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="form-group">
                        @Html.Label("Controles para este Risco - Selecione de acordo com a Medida", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            <input type="text" class="txtNovoControle col-xs-12 col-sm-12" name="TiposDeControle" />
                            @Html.ValidationMessageFor(d => d.TiposDeControle, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.Label("Classificacao da Medida", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.DropDownListFor(d => d.EClassificacaoDaMedia, ViewBag.EClassificacaoDaMedia as SelectList, "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                            @Html.ValidationMessageFor(d => d.EClassificacaoDaMedia, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.Label("Eficácia", new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.DropDownListFor(d => d.EControle, ViewBag.EControle as SelectList, "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                            @Html.ValidationMessageFor(d => d.EControle, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-sm-offset-4 align-left">
                    <button class="btn btn-info" id="btnSalvar" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Salvar
                    </button>
                    &nbsp;
                    <button class="btn btn-warning" id="reset" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Limpar
                    </button>
                </div>
            </div>
        </div>
    }

</div>
