@using GISModel.Entidades
@model Arquivo


@using (Html.BeginForm("RecoFaceUploadEPI", "Arquivo", FormMethod.Post, new
{
    @id = "formUpload",
    @class = "dropzone",
    @enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(i => i.UKObjeto, new { @Value = ViewBag.UKObjeto })
    @Html.HiddenFor(i => i.NumRegistro, new { @Value = ViewBag.UniqEPi })

    <input hidden type="text" name="UniqueKey" id="UniqueKey" value="@ViewBag.UniqEPi" />
    <input hidden type="text" name="UKEmpregado" id="UKEmpregado" value="@ViewBag.UKemp" />
    

    

    <div class="fallback" style="border: 1px solid red;">
        <input name="file" style="border: 1px solid red;" type="file" multiple="" />
    </div>
}


