@model List<VMPesquisaContrato>
@using GISModel.DTO.Contrato

    <div class="space-6"></div>

@if (Model != null && Model.Count > 0)
{

    <div id="divTableResultadoPesquisa" style="margin-top: 10px;">
        @if (ViewBag.AlertaRownumAtingido != null && ViewBag.AlertaRownumAtingido)
        {
            <div style="margin-bottom: 10px">
                <div class="alert alert-warning padding-10">
                    <strong>
                        <i class="ace-icon fa fa-exclamation-triangle"></i>
                        Oops!
                    </strong>

                    @{
                        string msg = "Sua pesquisa atingiu o número máximo de ocorrências retornadas. ";
                        msg += "Refine os parâmetros de localização para um resultado mais preciso ou utilize o ícone de exportar para Excel # para ver todos os @ documentos encontrados.";

                        msg = msg.Replace("@", "<strong>" + ViewBag.TotalDocs.ToString() + "</strong>").Replace("#", "(<i class=\"ace-icon fa fa-file-excel-o bigger-110 blue\"></i>)");
                    }

                    @Html.Raw(msg)

                    <br />
                </div>
            </div>
        }

        <table id="tableResultadoPesquisa" class="table table-striped table-bordered table-hover">
            <thead>
                <tr style="background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 80%); font-size: 12px; height: 28px; min-height: 10px">

                    <th class="center" width="100px" style="padding: 0px; border-bottom: 0px">
                        Número
                    </th>

                    <th class="center" width="100px" style="padding: 0px; border-bottom: 0px">
                        Data Início
                    </th>

                    <th class="center" width="100px" style="padding: 0px; border-bottom: 0px">
                        Data Fim
                    </th>

                    <th class="hidden-800 hidden-480 center" width="80px" style="padding: 0px 0px 0px 5px; border-bottom: 0px">
                        Fornecedor
                    </th>

                    <th class="center" style="padding: 0px; border-bottom: 0px">
                        Departamentos
                    </th>

                    <th class="center" style="padding: 0px; border-bottom: 0px">
                        Sub-contratadas
                    </th>

                    <th class="center" width="60px" style="padding: 0px 0px 0px 8px; border-bottom: 0px">
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (VMPesquisaContrato item in Model)
                    {
                        <tr>
                            <td>
                                @item.Numero
                            </td>
                            <td>
                                @item.DataInicio
                            </td>
                            <td>@item.DataFim</td>
                            <td>@item.UKFornecedor</td>
                            <td>@item.UKDepartamento</td>
                            <td>@item.UKSubContratada</td>
                            <td align="center">

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        No momento, nenhum departamento encontrado para esta empresa.
        <br>
    </div>
}
