
@{
    ViewBag.Title = "Index";
}

<h2>Movimentação Veícular</h2>


<div class="row">

    <div class="col-sm-12 col-xs-12">
        @* <a onclick="OnClickFluido()" class="btn btn-primary btn-lg btn-block" aling="center" data-backdrop="static" data-keyboard="false">*@
        <a href="@Url.Action("Novo","MovimentacaoVeicular")" class="btn btn-xs btn-bold btn-block btnMov">
            <img src="~/assets/images/IconsImage/origenDestino.jpg" width="220" height="180" /><br />

            <span class="bigger-110 no-text-shadow  align-bottom">Movimentação Veicular</span>
        </a>
    </div>


</div>
<br />


@*<div class="row">

    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            @Html.Label("Veículo", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
            <div class="col-xs-12 col-sm-12">
                @Html.Editor("Veiculo", new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "idVeiculo" } })
                @Html.ValidationMessage("Veiculo", string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="form-group">
            @Html.Label("Frota", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
            <div class="col-xs-12 col-sm-12">
                @Html.Editor("Frota", new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "idFrota" } })
                @Html.ValidationMessage("Frota", string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

            </div>
        </div>
    </div>


</div>*@




<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div id="contentDoc" style="padding-left: 12px;">

        </div>
    </div>
</div>


@section Stylesheets {
    @Styles.Render("~/bundles/ace_css_fileUpload")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")
    @Scripts.Render("~/bundles/ace_js_fileUpload")
    <script src="~/Scripts/Ace/jQ/jquery.nestable.js"></script>
    <script src="~/Scripts/Ace/jQ/typeahead.jquery.js"></script>
    <script src="~/Scripts/Ace/elements.typeahead.js"></script>


    <script src="~/Scripts/Ace/ace.widget-box.js"></script>
    <script src="~/Scripts/Ace/chosen.jquery.js"></script>

    <script src="~/Scripts/Ace/bootstrap-tag.js"></script>

    <script src="~/Scripts/Custom/Veiculo/Novo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>



}
