@model GISModel.Entidades.Veiculo.MovimentacaoVeicular

@{
    ViewBag.Title = "Movimentação Veicular ";
}

    <div id="formCadastroMovimentacaoPesquisa">



        @using (Ajax.BeginForm("ListaMovimentacaoVeiculo", "MovimentacaoVeicular", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessCadastrarMovimentacaoPesquisa", OnBegin = "OnBeginCadastrarPesquisa" }, new { @id = "formCadastroMovimentacaoPesquisa", @class = "form-horizontal", @autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()


            <div class="row">


                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(d => d.Veiculo, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.Veiculo, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                            @Html.ValidationMessageFor(d => d.Veiculo, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })


                        </div>
                    </div>
                </div>





            </div>






            <br />
            <br />

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                    <button class="btn btn-info" id="btnSalvar" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Salvar
                    </button>
                    &nbsp;
                    <button class="btn btn-warning" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Limpar
                    </button>
                    &nbsp;
                    <a class="btn" href="javascript:history.back()">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Voltar
                    </a>
                </div>
            </div>

        }

    </div> <!-- Fim FormQuery -->





@section Scripts {

    @Scripts.Render("~/bundles/ace_js_fileUpload")

    <script src="~/Scripts/Custom/Veiculo/Novo.js"></script>

}


@section Stylesheets {
    @Styles.Render("~/bundles/ace_css_fileUpload")
}
























