@using GISModel.Entidades
@using GISModel.Enums

@{
    ViewBag.Title = "ASO por Empregado";
}

@*<div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">
                Empregados
                <a href="@Url.Action("Novo", "Empregado")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
                    <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                    Novo Empregado
                </a>
            </h3>
        </div>
    </div>*@
<div class="text-center"><h3>Atestado de Saúde Ocupacional - ASO</h3></div>


<div class="row">
    <div class="col-xs-12">

        @if (ViewBag.listaASO != null)
        {

            <div>
                <table id="dynamic-table1" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Empregado</th>
                            <th>CPF</th>
                            <th>Perigo</th>
                            

                        </tr>
                    </thead>

                    <tbody>

                        @{
                            var cpf = string.Empty;
                        }

                        @foreach (var iASO in ViewBag.listaASO)
                        {

                            if (iASO.CPF != cpf)
                            {


                                <tr>
                                    <td>@iASO.NomeEmpregado</td>
                                    <td>@iASO.CPF</td>
                                    <td>@iASO.Perigo</td>

                                    
                                </tr>

                                <h4>Função: @iASO.Funcao</h4>

                            }

                            cpf = iASO.CPF;


                        }

                    </tbody>
                </table>


                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    @*<thead>
                        <tr>
                            <th>Tipo de Exame</th>
                            <th>Perigo</th>
                            <th>Obrigatoriedade</th>
                            <th>Exame</th>
                            <th></th>

                        </tr>
                    </thead>*@

                    <tbody>
                        @{ 
                            var perigo = string.Empty;
                        }
                       

                        @foreach (var iEx in ViewBag.ListaExame)
                        {



                            if (iEx.Perigo != perigo)
                            {


                                <tr>
                                    @iEx.TipoExame
                                     @iEx.Perigo
                                    @iEx.Obrigatoriedade                              
                                    
                                </tr>

                                <tr>
                                    <td>
                                    
                                    @foreach (var item in iEx.ListaExames)
                                    {
                                        @item.Nome <br/>
                                    }
                                    </td>

                                </tr>

                                perigo = iEx.Perigo;

                            }


                        }

                    </tbody>
                </table>
            </div>

        }




    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")
    <script src="~/Scripts/Custom/Medicoes/Listagem.js"></script>
}
