@model GISModel.Entidades.ControleDeRiscos

@{
    ViewBag.Title = "Cadastro de Controle de riscos";
}

<div id="formCadControle">
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Cadastro de Controle de riscos
                </h1>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("Cadastrar", "ControleDeRiscos", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessCadastrarControle", OnBegin = "OnBeginCadastrarControle" }, new { @id = "formCadastroControle", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            @Html.LabelFor(d => d.Descricao, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
            <div class="col-xs-12 col-sm-12">
                @Html.EditorFor(d => d.Descricao, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                @Html.ValidationMessageFor(d => d.Descricao, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.EClassificacaoDaMedia, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
            <div class="col-xs-12 col-sm-12">
                @Html.EnumDropDownListFor(model => model.EClassificacaoDaMedia, "Tipo de Entrada ...", htmlAttributes: new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => model.EClassificacaoDaMedia, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.EControle, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
            <div class="col-xs-12 col-sm-12">
                @Html.EnumDropDownListFor(model => model.EControle, "Selecione um centro ...", htmlAttributes: new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => model.EControle, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>




</div>


        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                <button class="btn btn-info" id="btnSalvar" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Salvar
                </button>
                &nbsp;
                <button class="btn btn-warning" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpar
                </button>
                &nbsp;
                <a class="btn" href="javascript:history.back()">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    }


</div> <!-- Fim FormQuery -->


@section Scripts {


    <script src="~/Scripts/Custom/ControleDoRisco/Novo.js"></script>


}


























