@using GISModel.Entidades
@using System.Configuration
@model List<WorkArea>

<div class="space-6"></div>

@if (Model != null && Model.Count > 0)
{

    <div class="dd dd-draghandle" style="max-width:100%;" id="nestable">
        <ol class="dd-list">

            @foreach (WorkArea wa in Model)
            {

                string[] arrCores = ConfigurationManager.AppSettings["Web:PadraoCoresLista"].Split(',');

                <li class="dd-item collapseOne" data-id="@wa.UniqueKey">
                    <div class="dd2-content" style="border-left: 2px solid @arrCores[0];">

                        @wa.Nome <span> - </span> @wa.Descricao

                        <div class="pull-right action-buttons">

                            <a class="blue CustomTooltip" href="#" title="Adicionar evento perigoso" onclick="OnClickVincularPerigo('@wa.UniqueKey');" data-target="#modalAddPerigo" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                <i class="ace-icon fa fa-plus-circle green bigger-125"></i>
                            </a>

                            <a class="orange CustomTooltip" href="@Url.Action("Edicao", "WorkArea", new {id = @wa.UniqueKey })" title="Editar WorkArea">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>

                            @if (wa.Perigos.Count() == 0)
                            {
                                <a class="red CustomTooltip" href="#" title="Excluir departamento" onclick="deleteWorkfArea('@wa.UniqueKey.ToString()', '@wa.Nome'); return false;">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            }
                        </div>
                    </div>

                    @if (wa.Perigos.Count() > 0)
                    {
                        <ol class="dd-list">
                            @foreach (Perigo per in wa.Perigos)
                            {
                                <li class="dd-item" data-id="@per.UniqueKey.ToString()">
                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[1];">

                                        <span><i style="color: orangered">Evento perigoso - </i></span>@per.Descricao

                                        <div class="pull-right action-buttons">
                                            <a class="blue CustomTooltip" href="#" title="Vincular Risco" onclick="OnClickNovoRisco('@per.UniqueKey');" data-target="#modalAddRisco" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                                <i class="ace-icon fa fa-plus-circle green bigger-125"></i>
                                            </a>

                                            <a href="#" class="blue CustomTooltip" title="Desvincular Perigo" onclick="OnClickRemoverPerigo('@per.UniqueKey', '@wa.UniqueKey', '@per.Descricao')">
                                                <i class="ace-icon fa fa-trash red bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    @if (per.Riscos.Count() > 0)
                                    {
                                        <ol class="dd-list">
                                            @foreach (Risco risk in per.Riscos)
                                            {
                                                <li class="dd-item" data-id="@risk.UniqueKey.ToString()">
                                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[2];">
                                                        <span><i style="color: yellowgreen">Risco existente - </i> </span>@risk.Nome

                                                        <div class="pull-right action-buttons">
                                                            <a href="#" class="blue CustomTooltip" title="Desvincular Risco" onclick="OnClickRemoverRisco('@risk.UniqueKey', '@per.UniqueKey', '@risk.Nome')">
                                                                <i class="ace-icon fa fa-trash red bigger-125"></i>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </li>
                                            }
                                        </ol>
                                    }

                                </li>
                            }
                        </ol>
                    }
                </li>
            }
        </ol>
    </div>

}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        Nenhum workarea encontrado para o estabelecimento selecionado.
        <br>
    </div>
}

