@using GISModel.Entidades
@using System.Configuration
@model List<WorkArea>

<div class="space-6"></div>

@if (Model != null && Model.Count > 0)
{
    <div class="dd dd-draghandle" style="max-width:100%;" id="nestable">
        <ol class="dd-list">

            @foreach (WorkArea wa in Model)
            {
                string[] arrCores = ConfigurationManager.AppSettings["Web:PadraoCoresLista"].Split(',');

                <li class="dd-item" data-id="@wa.UniqueKey">
                    <div class="dd2-content" style="border-left: 2px solid @arrCores[0];">
                        @wa.Nome <span> - </span> @wa.Descricao
                    </div>

                    @if (wa.FonteGeradoraDeRisco.Count > 0)
                    {
                        <ol class="dd-list">
                            @foreach (FonteGeradoraDeRisco fonte in wa.FonteGeradoraDeRisco)
                            {
                                <li class="dd-item" data-id="@fonte.UniqueKey.ToString()">
                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[1];">
                                        <span><i style="color: darkslateblue">Fonte geradora - </i> </span>@fonte.Descricao

                                        <div class="pull-right action-buttons">

                                            <a href="@Url.Action("AnaliseDeRisco", "ReconhecimentoDoRisco", new {id = @fonte.UniqueKey, UKE = ViewBag.UKEmpregado })" class="blue CustomTooltip" title="Análise de Risco">
                                                <i class="ace-icon fa fa-clipboard red bigger-125"></i>
                                            </a>

                                        </div>
                                    </div>


                                    @if (fonte.Perigos.Count() > 0)
                                    {
                                        <ol class="dd-list">
                                            @foreach (Perigo per in fonte.Perigos)
                                            {
                                                <li class="dd-item" data-id="@per.UniqueKey.ToString()">
                                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[2];">
                                                        <span><i style="color: orangered">Evento perigoso - </i></span>@per.Descricao
                                                    </div>

                                                    @if (per.Riscos.Count() > 0)
                                                    {
                                                        <ol class="dd-list">
                                                            @foreach (Risco risk in per.Riscos)
                                                            {
                                                                <li class="dd-item" data-id="@risk.UniqueKey.ToString()">
                                                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[3];">
                                                                        <span><i style="color: yellowgreen">Risco existente - </i> </span>@risk.Nome
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ol>
                                                    }
                                                </li>
                                            }
                                        </ol>
                                    }
                                </li>
                            }
                        </ol>
                    }
                </li>
            }
        </ol>
    </div>
}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        Nenhum workarea encontrado para o estabelecimento selecionado.
        <br>
    </div>
}