@model GISModel.DTO.WorkArea.WorkAreaViewModel


@{
    ViewBag.Title = "Listagem de WorkAreas";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            WorkArea
            <button id="btnLocalizarEstabelecimento" class="btn btn-primary btnPesquisar" style="float: right; border: 0px; border-bottom: 2px; margin-top: -2px; height: 34px;">
                <i class="ace-icon fa fa-search"></i>
                Pesquisar
            </button>

            <a href="@Url.Action("Novo", "WorkArea")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px; margin-right: 20px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo
            </a>
        </h3>
    </div>
</div>

@using (Ajax.BeginForm("PesquisarWorkArea", "WorkArea", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginPesquisarWorkArea", OnSuccess = "OnSuccessPesquisarWorkarea" }, new { @id = "formPesquisarWorkArea", @class = "form-horizontal", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(d => d.UKEstabelecimento, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">                   
                    @Html.DropDownListFor(d => d.UKEstabelecimento, new SelectList(ViewBag.Estab, "UniqueKey", "NomeCompleto"), "Selecione ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on" })
                </div>
            </div>
        </div>

    </div>


}

<div class="resultadoWorkArea"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Custom/Estabelecimento/Listagem.js"></script>
    <script src="~/Scripts/Custom/WorkArea/Listagem.js"></script>
    <script src="~/Scripts/Custom/WorkArea/Editar.js"></script>
}


@section Sliders {

    <div id="modalAddPerigo" class="modal fade" style="overflow: auto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="modalAddPerigoX" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="smaller lighter grey no-margin"><i class="ace-icon fa fa-random green"></i> Vincular Perigo</h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="modalAddPerigoCorpoLoading" style="float: right; display: none">...Carregando <img src="~/Images/slack_loading.gif" width="28px" /></div>
                            <div id="modalAddPerigoCorpo"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <span id="modalAddPerigoLoading" style="display: block; float: left; padding-top: 6px">
                                <img src="~/Images/slack_loading.gif" width="28px" />
                            </span>

                            <button id="modalAddPerigoFechar" class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                                <i class="ace-icon fa fa-times"></i>
                                Fechar
                            </button>

                            <button id="modalAddPerigoProsseguir" class="btn btn-sm btn-success" style="right: 5px; left: auto">
                                <i class="ace-icon fa fa-check"></i>
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalAddRisco" class="modal fade" style="overflow: auto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="modalAddRiscoX" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="smaller lighter grey no-margin"><i class="ace-icon fa fa-random green"></i> Vincular Risco</h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="modalAddRiscoCorpoLoading" style="float: right; display: none">...Carregando <img src="~/Images/slack_loading.gif" width="28px" /></div>
                            <div id="modalAddRiscoCorpo"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <span id="modalAddRiscoLoading" style="display: block; float: left; padding-top: 6px">
                                <img src="~/Images/slack_loading.gif" width="28px" />
                            </span>

                            <button id="modalAddRiscoFechar" class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                                <i class="ace-icon fa fa-times"></i>
                                Fechar
                            </button>

                            <button id="modalAddRiscoProsseguir" class="btn btn-sm btn-success" style="right: 5px; left: auto">
                                <i class="ace-icon fa fa-check"></i>
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
