@using GISModel.Entidades
@model Alocacao

@{
    ViewBag.Title = "Novo";
}

@using (Ajax.BeginForm("Cadastrar", "Alocacao", null, 
                                    new AjaxOptions { 
                                        HttpMethod = "POST", 
                                        OnBegin = "OnBeginCadastrarAlocacao", 
                                        OnSuccess = "OnSuccessCadastrarAlocacao", }, new { @id = "formCadastroAlocacao", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(d => d.Contrato, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UKContrato, new SelectList(ViewBag.Contratos, "UniqueKey", "Numero"), "Selecione um Contrato", new { @class = "chosen-select form-control tag-input-style", @id = "ddlContrato", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.UKContrato, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    @Html.HiddenFor(d => d.UKAdmissao)
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(d => d.UKDepartamento, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UKDepartamento, new SelectList(new List<EntidadeBase>(), "UniqueKey", "NomeFantasia"), "Selecione antes um contrato...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlDepartamento", @data_placeholder = "Selecione antes um cargo", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.UKDepartamento, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                                       
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.Label("Cargo", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UKCargo, new SelectList(ViewBag.Cargos, "UniqueKey", "NomeDoCargo"), "Selecione um Cargo...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlCargo", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.UKCargo, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.Label("Função", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UKFuncao, new SelectList(new List<EntidadeBase>(), "UniqueKey", "NomeFantasia"), "Selecione antes um cargo...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlFuncao", @data_placeholder = "Selecione antes um cargo", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.UKFuncao, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(d => d.UKEstabelecimento, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UKEstabelecimento, new SelectList(ViewBag.Estabelecimentos, "UniqueKey", "Descricao"), "Selecione um Estabelecimento...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlEstabelecimento", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.UKEstabelecimento, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(d => d.UKEquipe, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UKEquipe, new SelectList(ViewBag.Equipes, "UniqueKey", "NomeDaEquipe"), "Selecione uma Equipe...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlEquipe", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.UKEquipe, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                </div>
            </div>
        </div>
    </div>
}
