@using GISModel.Entidades
@using GISModel.DTO.Permissoes
@model List<Admissao>

@if (Model == null || Model.Count == 0)
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        No momento, não foi encontrado nenhuma adimissão ativa.
        <br>
    </div>
}
else
{

    bool podeEditar = false;

    if (ViewBag.Permissoes != null)
    {
        List<VMPermissao> permissoes = (List<VMPermissao>)ViewBag.Permissoes;

        if (permissoes.Where(a => a.Perfil.Equals("Administrador") || a.Perfil.Equals("Super Administrador")).Count() > 0)
        {
            podeEditar = true;
        }
    }



    foreach (Admissao adm in Model)
    {
        <div class="widget-box transparent collapsed" id="widget-box-1" data-ukadmissao="@adm.UniqueKey.ToString()">
            <div class="widget-header green" style="border-bottom: 1px solid #ddd">
                <h5 class="widget-title">
                    <i class="ace-icon fa fa-building" style="color: #585858"></i>
                    <a href="#" data-action="collapse" class="green">
                        <b>EMPRESA: @adm.Empresa.NomeFantasia</b>
                    </a>
                </h5>

                @if (podeEditar)
                {
                    <div style="float: right; border: 0px;">
                        <a href="#" class="btn btn-mini btn-success btnNovaAlocacao" style="padding-left: 7px; padding-right: 7px; width: 110px;" onclick="OnClickIndexar('@ViewBag.empregado');" data-target="#modalNovoArquivo" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                             <i class="fa fa-camera " aria-hidden="true"></i>
                             <span class="bigger-110">Anexar Foto</span>
                         </a>

                        <a href="#" class="btn btn-mini btn-info btnNovaAlocacao" style="padding-left: 7px; padding-right: 7px; width: 110px;" data-target="#modalAlocacao" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                            <span class="bigger-110">Alocar</span>
                        </a>

                        <a href="#" class="btn btn-mini btn-danger btnDemitir" data-ukadmissao="@adm.UniqueKey.ToString()" data-empresa="@adm.Empresa.NomeFantasia" style="padding-left: 7px; padding-right: 7px; width: 110px;">
                            <i class="ace-icon fa fa-minus bigger-120"></i>
                            <span class="bigger-110">Demitir</span>
                        </a>

                    </div>
                }
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <p>Data de Admissão: @adm.DataAdmissao</p>
                    <p>Admitido por: @adm.UsuarioInclusao</p>

                    @if (adm.Alocacoes != null && adm.Alocacoes.Count == 0)
                    {
                        <div class="alert alert-warning">
                            <strong>
                                <i class="ace-icon fa fa-meh-o"></i>
                                Oops!
                            </strong>

                            No momento, não foi encontrado nenhuma alocação ativa nesta empresa.
                            <br>
                        </div>
                    }
                    else
                    {
                        int iAl = adm.Alocacoes.Count;
                        foreach (Alocacao al in adm.Alocacoes)
                        {
                            iAl -= 1;

                            <div class="widget-box transparent collapsed" id="widget-box-1" data-ukalocacao="@al.UniqueKey.ToString()">
                                <div class="widget-header blue" style="border-bottom: 1px solid #ddd">
                                    <h5 class="widget-title">
                                        <a href="#" data-action="collapse" class="blue">
                                            <b>ALOCADO: @al.Cargo.NomeDoCargo | @al.Funcao.NomeDaFuncao</b>
                                        </a>
                                    </h5>

                                    @if (podeEditar)
                                    {
                                        <div style="float: right; border: 0px;">

                                            <a href="#" class="btn btn-mini btn-danger btnDesalocar" data-ukalocacao="@al.UniqueKey.ToString()" data-cargafuncao="@al.Cargo.NomeDoCargo|@al.Funcao.NomeDaFuncao" style="padding-left: 7px; padding-right: 7px; width: 110px;">
                                                <i class="ace-icon fa fa-minus bigger-120"></i>
                                                <span class="bigger-110">Desalocar</span>
                                            </a>

                                        </div>
                                    }
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">

                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Data alocação </div>

                                                        <div class="profile-info-value">
                                                            <span class="">@al.DataInclusao.ToString("dd/MM/yyyy")</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Contrato </div>

                                                        <div class="profile-info-value">
                                                            <span class="">@al.Contrato.Numero</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Estabelecimento </div>

                                                        <div class="profile-info-value">
                                                            <span class="txtEstabelecimento" data-ukestabelecimento="@al.Estabelecimento.UniqueKey.ToString()">@al.Estabelecimento.Descricao</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-sm-6 col-xs-12">
                                                <div class="profile-user-info profile-user-info-striped">

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Alocado por </div>

                                                        <div class="profile-info-value">
                                                            <span class="">@al.UsuarioInclusao</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Orgão </div>

                                                        <div class="profile-info-value">
                                                            <span class="">@al.Departamento.Sigla</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-10"></div>

                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <h3 class="header smaller lighter green" style="margin-left: 13px;">WorkArea / Perigos / Riscos</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 conteundoWorkArea" style="padding-left: 25px; padding-right: 25px;">
                                            </div>
                                        </div>

                                        <div class="space-10"></div>

                                                                             

                                    </div>
                                </div>
                            </div>

                            if (iAl > 0)
                            {
                                <div class="space-14"></div>
                            }
                        }
                    }

                </div>
            </div>
        </div>

        <br />
    }

   

}

