@using GISModel.Entidades

@{
    ViewBag.Title = "Listagem de Depatamentos";
}

<div class="row">
    <div class="col-xs-12">
        <h4 class="header smaller lighter blue">
            Vincular Contrato
            <a href="@Url.Action("Novo", "REL_DepartamentoContrato")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo
            </a>

        </h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        @{
            Html.RenderPartial("_MensagensDeRetorno");
        }

        @if (ViewBag.Depatamento != null)
        {
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="50px"></th>
                            <th>Sigla</th>
                            <th>Departamento</th>
                            <th width="140px">Adicionar contrato</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (Departamento iDepartamento in ViewBag.Depatamento)
                        {
                        <tr id="linha-@iDepartamento.ID">
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>@iDepartamento.Sigla</td>
                            <td>@iDepartamento.Descricao</td>




                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">

                                    <a href='@Url.Action("Novo", "REL_DepartamentoContrato", new { id = iDepartamento.ID, nome = iDepartamento.Descricao })' class="green">
                                        <i class="fa fa-plus-square" style="font-size:24px;color:green" title="Vincular Contrato"></i>
                                    </a>

                                    <a href='@Url.Action("Detailhes", "REL_DepartamentoContrato", new { id = iDepartamento.ID, nome = iDepartamento.Descricao })' class="green">
                                        <i class="fa fa-search-plus" style="font-size:24px;color:darkorange" title="Lista Função"></i>
                                    </a>

                                    @*<a class="red" href="#" onclick="DeletarCargo('@iCargo.IDCargo');">
                <i class="ace-icon fa fa-trash-o" style="font-size:24px;color:red" title="Excluir cargo"></i>
            </a>*@
                                </div>
                                @*<a href="C:\Users\Antonio\Documents\GitHub\Gestor\GestorSST\GISModel\Entidades\Estabelecimento.cs">C:\Users\Antonio\Documents\GitHub\Gestor\GestorSST\GISModel\Entidades\Estabelecimento.cs</a>*@

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                            <li>
                                                <a href='@Url.Action("Novo", "REL_DepartamentoContrato", new { id = iDepartamento.ID, nome = iDepartamento.Descricao })' class="tooltip-success" data-rel="tooltip" title="Novo">
                                                    <span class="green">
                                                        <i class="ace-icon fa fa-pencil-square-o bigger-120" title="Vincular Contrato"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            @*<li>
                        <a href='@Url.Action("ListaFuncao", "Funcao", new { id = @iCargo.IDCargo })' class="tooltip-success" data-rel="tooltip" title="Lista">
                            <i class="fa fa-list" style="font-size:24px;color:darkorange" title="Lista Função"></i>
                        </a>

                    </li>


                    <li>
                        <a href="#" class="tooltip-error" onclick="DeletarCargo('@iCargo.IDCargo');" data-rel="tooltip" title="Delete">
                            <span class="red">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </span>
                        </a>
                    </li>*@
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        }

                    </tbody>
                </table>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")


    <script src="~/Scripts/Custom/REL_DepartamentoContrato/Listagem.js"></script>
}