@using GISModel.Entidades

@{
    ViewBag.Title = "Gerenciamento de Equipes";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Gerenciamento de Equipes

            <a href="@Url.Action("Novo","Equipe")" class="btn btn-white btn-info btn-bold" style="float:right; margin-top: -2px;">
                <i class="ace-icon fa fa-plus bigger-120 blue">
                    Novo
                </i>
            </a>

        </h3>
    </div>
</div>


@if (ViewBag.Equipe != null && ViewBag.Equipe.Count > 0)
{
    <div class="row">
        <div class="col-xs-12">

            <table id="dynamic-table" class="table table-striped table-bordered" contenteditable-hover">
                <thead>
                    <tr>
                        <th width="200px">Empresa</th>
                        <th width="200px">Equipe</th>
                        <th>Resumo das atividades</th>
                        <th width="80px"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Equipe oEquipe in ViewBag.Equipe)
                    {
                    <tr>

                       
                        <td>@oEquipe.Empresa.NomeFantasia</td>
                        <td>@oEquipe.NomeDaEquipe</td>
                        <td>@oEquipe.ResumoAtividade</td>                          
                       
                        <td class="center">


                            <div class="hidden-sm hidden-xs action-buttons">
                                <a href='@Url.Action("Edicao","Equipe", new { id = oEquipe.UniqueKey})' class="green">
                                    <i class="ace-icon fa fa-pencil bigger-130" title="Editar"></i>
                                </a>

                                <a class="red" href="#" onclick="DeletarEquipe('@oEquipe.UniqueKey', '@oEquipe.NomeDaEquipe'); return false;">
                                    <i class="ace-icon fa fa-trash-o bigger-130" title="Excluir"></i>
                                </a>
                            </div>

                        </td>

                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        Nenhuma equipe encontrada na base de dados.
        <br>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Custom/Equipe/Lista.js"></script>
}