@using GISModel.Entidades.Quest
@using System.Configuration

@model Questionario

@*<div class="space-3"></div>
    <div class="hr hr-24"></div>
    <div class="space-3"></div>*@

@if (Model != null)
{

    @*<div class="center"><h3>ACR - ANÁLISE E CONTROLE DE RISCOS </h3></div>
        <div class="space-3"></div>
        <div class="hr hr-24"></div>
        <div class="space-3"></div>
        <div class="center"><h3>
        CONVERSA ANTES DO ÍNICIO DO SERVIÇO “ENTRE A EQUIPE”</h3></div>*@

    string[] arrCores = ConfigurationManager.AppSettings["Web:PadraoCoresLista"].Split(',');

    <input type="hidden" id="txtUKEmpregado" value="@ViewBag.UKEmpregado" />
    <input type="hidden" id="txtUKFonteGeradora" value="@ViewBag.UKFonteGeradora" />
    <input type="hidden" id="txtRegistro" value="@ViewBag.oRegistro" />

    <div class="dd dd-draghandle" style="max-width:100%;" id="nestable">
        <ol class="dd-list">

            <li class="dd-item collapseOne">



                @if (Model.Perguntas.Count > 0)
                {
                    <div class="hidden-sm hidden-xs">
                       
                        <ol class="dd-list">
                            @foreach (Pergunta perg in Model.Perguntas)
                            {
                            <li class="dd-item">
                                <div class="dd2-content" style="border-left: 2px solid @arrCores[2];">
                                    <span style="width: 600px; float: left;" class="perguntaMD" data-uk="@perg.UniqueKey.ToString()" data-tipo="@perg.TipoResposta.ToString()">
                                        Pergunta @perg.Ordem.ToString(): @perg.Descricao.Substring(0, 35)...
                                        <a class="tooltip-error" data-rel="tooltip" title="@perg.Descricao">
                                            <span class="green">
                                                <i class="ace-icon fa fa-info-circle bigger-120"></i>
                                            </span>
                                        </a>

                                    </span>
                                </div>
                                

                                @if (perg._TipoResposta != null && perg._TipoResposta.TiposResposta != null && perg._TipoResposta.TiposResposta.Count > 0)
                                {
                                    <ol class="dd-list">
                                        @foreach (TipoRespostaItem item in perg._TipoResposta.TiposResposta)
                                        {
                                            <li class="dd-item">
                                                <div class="dd2-content" style="border-left: 2px solid @arrCores[3];">

                                                    @if (perg.TipoResposta == GISModel.Enums.ETipoResposta.Selecao_Unica)
                                                    {
                                                        <div class="radio" style="margin: 0;">
                                                            <label>
                                                                <input name="@perg.UniqueKey.ToString()" type="radio" data-uk="@item.UniqueKey.ToString()" class="ace rbOpcao" onclick="ExisteSubPergunta('@perg.UniqueKey.ToString()', '@item.UniqueKey.ToString()','@item.Nome.ToString()');">
                                                                <span class="lbl"> @item.Nome</span>
                                                            </label>
                                                        </div>
                                                        <input type="hidden" class="txtItem col-xs-12 col-sm-12" value="@perg.Descricao" />
                                                    }
                                                    else if (perg.TipoResposta == GISModel.Enums.ETipoResposta.Multipla_Selecao)
                                                    {
                                                        <div class="checkbox">
                                                            <label>
                                                                <input name="@perg.UniqueKey.ToString()" data-uk="@item.UniqueKey.ToString()" class="ace ace-checkbox-2 cbOpcao" type="checkbox">
                                                                <span class="lbl"> @item.Nome</span>
                                                            </label>
                                                        </div>
                                                    }

                                                    <div class="pull-right action-buttons">
                                                    </div>
                                                </div>

                                                <div class="conteudoSubPergunta @perg.UniqueKey.ToString() @item.UniqueKey.ToString()">
                                                </div>

                                            </li>
                                        }
                                    </ol>
                                }
                                else
                                {
                                    <ol class="dd-list">
                                        <li class="dd-item">
                                            <div class="dd2-content" style="border-left: 2px solid @arrCores[3];">
                                                <input type="text" class="txtOpcao txtPergunta-@perg.UniqueKey.ToString()" value="" style="width: 100%;" />
                                            </div>
                                        </li>
                                    </ol>
                                }
                            </li>
                            }
                        </ol>
                    </div>

                    <div class="hidden-md hidden-lg">
                        <ol class="dd-list">
                            @foreach (Pergunta perg in Model.Perguntas)
                            {
                                <li class="dd-item">
                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[2];">
                                        <span style="float: left;" class="pergunta" data-uk="@perg.UniqueKey.ToString()" data-tipo="@perg.TipoResposta.ToString()">
                                           

                                          <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="center">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-left dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            @perg.Descricao
                                                        </span>
                                                    </a>

                                                        @*<a class="tooltip-error" data-rel="tooltip" title="@perg.Descricao">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-info-circle bigger-120"></i>
                                                            </span>
                                                        </a>*@

                                                    
                                                </li>
                                               
                                            </ul>
                                        </div> Pergunta @perg.Ordem.ToString():<i style="min-height"> @perg.Descricao.Substring(0, 10)...</i>

                                        </span>
                                    </div>
                                    
                                    @if (perg._TipoResposta != null && perg._TipoResposta.TiposResposta != null && perg._TipoResposta.TiposResposta.Count > 0)
                                    {
                                        <ol class="dd-list">
                                            @foreach (TipoRespostaItem item in perg._TipoResposta.TiposResposta)
                                            {
                                                <li class="dd-item">
                                                    <div class="dd2-content" style="border-left: 2px solid @arrCores[3];">

                                                        @if (perg.TipoResposta == GISModel.Enums.ETipoResposta.Selecao_Unica)
                                                        {
                                                            <div class="radio" style="margin: 0;">
                                                                <label>
                                                                    <input name="@perg.UniqueKey.ToString()" type="radio" data-uk="@item.UniqueKey.ToString()" class="ace rbOpcao" onclick="ExisteSubPergunta('@perg.UniqueKey.ToString()', '@item.UniqueKey.ToString()','@item.Nome.ToString()');">
                                                                    <span class="lbl"> @item.Nome</span>
                                                                </label>
                                                            </div>
                                                            <input type="hidden" class="txtItem col-xs-12 col-sm-12" value="@perg.Descricao" />
                                                        }
                                                        else if (perg.TipoResposta == GISModel.Enums.ETipoResposta.Multipla_Selecao)
                                                        {
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input name="@perg.UniqueKey.ToString()" data-uk="@item.UniqueKey.ToString()" class="ace ace-checkbox-2 cbOpcao" type="checkbox">
                                                                    <span class="lbl"> @item.Nome</span>
                                                                </label>
                                                            </div>
                                                        }

                                                        <div class="pull-right action-buttons">
                                                        </div>
                                                    </div>

                                                    <div class="conteudoSubPergunta @perg.UniqueKey.ToString() @item.UniqueKey.ToString()">
                                                    </div>

                                                </li>
                                            }
                                        </ol>
                                    }
                                    else
                                    {
                                        <ol class="dd-list">
                                            <li class="dd-item">
                                                <div class="dd2-content" style="border-left: 2px solid @arrCores[3];">
                                                    <input type="text" class="txtOpcao txtPergunta-@perg.UniqueKey.ToString()" value="" style="width: 100%;" />
                                                </div>
                                            </li>
                                        </ol>
                                    }
                                </li>
                            }
                        </ol>
                    </div>



                }
                <div class="dd2-content" style="float: left 2px solid @arrCores[1];">
                    <span style="float: right 60px;"> @Model.Nome</span>


                    <div class="pull-right action-buttons">
                        <a class="green" href="#" onclick="GravarQuestionario('@Model.UniqueKey.ToString()', '@Model.UKEmpresa.ToString()'); return false;">
                            Enviar 2 &nbsp;

                            <i class="ace-icon fa fa-send bigger-130"></i>
                        </a>
                    </div>
                </div>


                
            </li>
        </ol>
    </div>

}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-smile-o"></i>
            Olá!
        </strong>&nbsp;&nbsp;

        A AR de hoje para essa Atividade já foi elaborada. Click no botão abaixo para abrir o formulário.
        <br>
    </div>
}


