@using GISModel.Entidades
@using GISModel.DTO.AnaliseDeRisco

@model GISModel.Entidades.Atividade







@{
    ViewBag.Title = "Index";
}



Responsável: &nbsp;@ViewBag.Resp
<br />
Atividade:&nbsp; @ViewBag.Atividade&nbsp;&nbsp;
Hora de Início: &nbsp;@ViewBag.AtiviHora

<div class="card">
    <div class="card-header" id="headingThree">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseThree">
                Validações
            </button>
        </h5>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <h4>Validações realizadas através de reconhecimento facial.</h4>

            @if (@ViewBag.valido != null)
            {
                foreach (Validacoes item in @ViewBag.valido)
                {
                    var nome = item.NomeIndex;
                    <td>
                        @nome.Substring(0, nome.Length - 4)
                    </td>

                    <td>
                        <img src="/Images/Assinaturas/@item.NomeIndex" alt="Assinatura" width="100px" />
                    </td>

                    <br />

                }
            }
        </div>
    </div>
</div>



@if (ViewBag.ARISC != null)
{


    <div class="card card-body">

        <div class="row">
            <div class="col-xs-12">

                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Pergunta</th>
                                <th>Resposta</th>
                                <th>Hora</th>

                            </tr>
                        </thead>

                        <tbody>

                            @foreach (VMAnaliseDeRiscoEmpregados iEmp in ViewBag.ARISC)
                            {

                                <tr>

                                    <td>@iEmp.Pergunta</td>
                                    <td>@iEmp.Resposta</td>
                                    <td>@iEmp.Data</td>


                                </tr>

                            }

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

}
