@using GISModel.Entidades
@using GISModel.DTO.AnaliseDeRisco

@model GISModel.Entidades.Atividade







@{
    ViewBag.Title = "Index";
}


@if (ViewBag.Relacao.Count > 0)
{
    <div class="center">
        <h3>ANÁLISE E CONTROLES DE RISCOS - RDS</h3>

    </div>
    <br />

    <div class="center">
        <h4>
            É OBRIGATÓRIO PREENCHER TODOS OS ITENS COM A PARTICIPAÇÃO DA EQUIPE <br />
            Interromper suas atividades exercendo o direito de recusa, sempre que constatarem evidências de riscos não
            controlados que comprometam a sua segurança e saúde ou a de outras pessoas.
        </h4>

    </div>
    <br />

    <input type="hidden" class="txtRegistro col-xs-12 col-sm-12" value="@ViewBag.Registro" />
    <input type="hidden" class="txtSupervisor col-xs-12 col-sm-12" value="@ViewBag.UKSupervisor" />

    <input type="text" hidden id="txtRegistro" value="@ViewBag.Registro"/>
    
    <h4>Supervisor:&nbsp; @ViewBag.Supervisor&nbsp; &nbsp;Análise Nº: &nbsp;@ViewBag.Nregist </h4>
    <div class="row">
        <div class="col-xs-12">

            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Empregado</th>
                            <th>CPF</th>
                            <th>Confirme</th>

                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var iEmp in ViewBag.Relacao)
                        {

                        <tr id="">

                            <td>@iEmp.Nome</td>
                            <td>@iEmp.CPF</td>
                            <td class="center" width="96">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            </td>


                        </tr>

                        }

                    </tbody>
                </table>
            </div>


        </div>
    </div>


    <div><h3>TELEFONE (S) EMERGÊNCIA: 192 SAMU - 193 Bombeiros - Outros:</h3></div>

    <div class="resultadoNomes"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div id="contentDoc" style="padding-left: 12px;">

            </div>
        </div>
    </div>

    if (ViewBag.APR != null)
    {

        <p>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Click aqui e veja a APR de Hoje.
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">

                <div class="row">
                    <div class="col-xs-12">

                        <div>
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Pergunta</th>
                                        <th>Resposta</th>
                                        

                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (VMAnaliseDeRiscoEmpregados iEmp in ViewBag.APR)
                                    {

                                    <tr>

                                        <td>@iEmp.Pergunta</td>
                                        <td>@iEmp.Resposta</td>
                                       


                                    </tr>

                                    }

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    }

    <div class="resultadoAPR"></div>


    <br />

    <div class="space-3"></div>
    <div class="hr hr-24"></div>
    <div class="space-3"></div>
    <div class="center"><h3>ACR - ANÁLISE E CONTROLE DE RISCOS </h3></div>
    <div class="space-3"></div>
    <div class="hr hr-24"></div>
    <div class="space-3"></div>
    @*<div class="center">
            <h3>
                CONVERSA ANTES DO ÍNICIO DO SERVIÇO “ENTRE A EQUIPE”
            </h3>
        </div>
        <div class="space-3"></div>
        <div class="hr hr-24"></div>
        <div class="space-3"></div>*@


    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.UniqueKey, new SelectList(ViewBag.Atividade, "UniqueKey", "Descricao"), "Selecione um Serviço ...", new { @class = "chosen-select form-control tag-input-style oAtividade", @autocomplete = "on" })
                </div>
            </div>
        </div>

    </div>
    <br />




}
else
{
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <a onclick="OnClickVincularNome()" class="btn btn-secondary btn-lg btn-block" data-target="#modalAddNome" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                <i class="ace-icon fa fa-fire bigger-110"></i>
                <span class="bigger-110 no-text-shadow">Cadastrar Empregados na Atividade </span>
            </a>
        </div>&nbsp;&nbsp;

        @*<div class="col-sm-6 col-xs-12">
                <a href="@Url.Action("Perfil", "Empregado", new { id = ViewBag.UKEmp })" class="btn btn-secondary btn-lg btn-block">
                    <i class="ace-icon fa fa-bolt bigger-110"></i>

                    Riscos
                </a>
            </div>*@
    </div>

}

<div class="conteudoQuestionario"></div>

<div class="conteudoQuestionarioMD"></div>


<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div id="content" style="padding-left: 12px;">

        </div>
    </div>
</div>

@if (ViewBag.ARISC != null)
{

    <p>

        <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            Click aqui e veja a AR de Hoje por Atividade.
        </button>
    </p>
    <div class="collapse" id="collapseExample2">
        <div class="card card-body">

            <div class="row">
                <div class="col-xs-12">

                    @{
                        var ukativ = string.Empty;
                        //string ativ = ukativ;

                        foreach (VMAnaliseDeRiscoEmpregados iRisc in ViewBag.ARISC)
                        {


                            var vbAtiv = Convert.ToString(@iRisc.UKAtividade);

                            if (vbAtiv != ukativ)
                            {
                                        <div class="container">


                                                                <div class="row">
                                                                    <div class="hidden">@iRisc.UKAtividade</div><br />




                                                                    <a class="red CustomTooltip position-relative" href="#" title="Análise de Risco" onclick="OnClickVerAR('@iRisc.UKAtividade');return false;" data-target="#modalAddArquivos" data-toggle="modal" data-backdrop="static" data-keyboard="false" )>
                                                                        <i class="ace-icon fa fa-archive bigger-150 "></i>
                                                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;

                                                                    <a class="blue CustomTooltip" href="#" title="Arquivos anexados" onclick="OnClickBuscarArquivos('@iRisc.UKAtividade','@ViewBag.Registro' );" data-target="#modalArquivos" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                                                                        <i class="ace-icon fa fa-camera blue bigger-125"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </a>

                                                                    <span style="margin-left: 5px; color: blue">@iRisc.Atividade&nbsp;&nbsp;</span><br />
                                                                </div>

                                        </div>


                                                ukativ = Convert.ToString(@iRisc.UKAtividade);

                            }



                                                }
                                                }





                                            </div>
                                        </div>
        </div>
    </div>
}
<br />
<br />
<br />


@section Stylesheets {
    @Styles.Render("~/bundles/ace_css_fileUpload")
}

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")
    @Scripts.Render("~/bundles/ace_js_fileUpload")
    <script src="~/Scripts/Ace/jQ/jquery.nestable.js"></script>
    <script src="~/Scripts/Ace/jQ/typeahead.jquery.js"></script>
    <script src="~/Scripts/Ace/elements.typeahead.js"></script>

    <script src="~/Scripts/Ace/ace.widget-box.js"></script>
    <script src="~/Scripts/Ace/chosen.jquery.js"></script>

    <script src="~/Scripts/Ace/bootstrap-tag.js"></script>
    <script src="~/Scripts/Custom/AnaliseDeRisco/Lista.js"></script>
    <script src="~/Scripts/Custom/AnaliseDeRisco/Novo.js"></script>

}


@section Sliders {

    <div id="modalAddNome" class="modal fade" style="overflow: auto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="modalAddNomeX" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="smaller lighter grey no-margin"><i class="ace-icon fa fa-random green"></i> Trabalhador autorizado (Participantes da APR/AR/APT)</h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="modalAddNomeCorpoLoading" style="float: right; display: none">...Carregando <img src="~/Images/slack_loading.gif" width="28px" /></div>
                            <div id="modalAddNomeCorpo"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <span id="modalAddNomeLoading" style="display: block; float: left; padding-top: 6px">
                                <img src="~/Images/slack_loading.gif" width="28px" />
                            </span>

                            <button id="modalAddNomeFechar" class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                                <i class="ace-icon fa fa-times"></i>
                                Fechar
                            </button>

                            <button id="modalAddNomeProsseguir" class="btn btn-sm btn-success" style="right: 5px; left: auto">
                                <i class="ace-icon fa fa-check"></i>
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="modalAddArquivos" class="modal fade" style="overflow: auto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="modalAddArquivosX" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="smaller lighter grey no-margin"><i class="ace-icon fa fa-random green"></i> Análise de Risco</h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="modalAddArquivosCorpoLoading" style="float: right; display: none">...Carregando <img src="~/Images/slack_loading.gif" width="28px" /></div>
                            <div id="modalAddArquivosCorpo"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <span id="modalAddArquivosLoading" style="display: block; float: left; padding-top: 6px">
                                <img src="~/Images/slack_loading.gif" width="28px" />
                            </span>

                            <button id="modalAddArquivosFechar" class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                                <i class="ace-icon fa fa-times"></i>
                                Fechar
                            </button>

                            @*<button id="modalAddArquivosProsseguir" class="btn btn-sm btn-success" style="right: 5px; left: auto">
                                    <i class="ace-icon fa fa-check"></i>
                                    Confirmar
                                </button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
